@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.grid-auto-fit {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.poster-aspect {
		aspect-ratio: 2 / 3;
	}
}



/* @media (prefers-color-scheme: dark) {
	.bg-background {
		background-color: var(--background);
	}
	.border-primary {
		border-color: var(--primary);
	}
}
@media (prefers-color-scheme: light) {
	.bg-background {
		background-color: var(--background);
	}
	.border-primary {
		border-color: var(--primary);
	}
} */